.map-container {
  position: relative;
  width: 800px;
  height: 600px;
}

.map {
  width: 100%;
  height: 100%;
  background-image: url('/mapa_estatico.jpg'); /* Coloque o caminho correto da imagem */
  background-size: cover;
}

.draggable {
  position: absolute;
  cursor: move;
}

.draggable-inner {
  width: 30px;
  height: 30px;
  background-color: blue;
  cursor: move;
}

.draggable2 {
  position: absolute;
  cursor: move;
}
.draggable-inner2 {
  width: 30px;
  height: 30px;
  background-color: red;
  cursor: move;
}
