.container {
  display: flex;
  justify-content: space-between;
  height: 400px;
}

.map {
  position: relative;
  width: 60%;
  height: 100%;
  background-image: url('/mapa_estatico.jpg'); /* Coloque o caminho correto da imagem */
  background-size: cover;}

.objects-list {
  width: 30%;
  padding: 10px;
}

.object-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.object {
  background-color: #2ecc71;
  padding: 10px;
  text-align: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
